@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

.contact {
  background-image: url('../tabPanel/img/full-bloom.png');
  width: 100vw;
  height: 100vh;
  font-family: 'Noto Sans TC', sans-serif;
}
#bottom {
  width: 100%;
  display: flex;
  .left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .styles {
      width: 40%;
      height: 30%;
      margin: auto
    }
  }
}