.formOutside {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSU1CsCnGsjRYwnlvsCzw7FH3vNDyvbw6rnS24fk9Rn5Nzl10EA');
  background-size: cover
}
.form {
  background: #efefef;
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}