.dashboard {
  background-image: url('https://www.bekasport.com/resimler/urun/running-tracks-426991.jpg');
  background-size: cover;
  color: white;

  .tableBody {
    background: grey;
    color: yellow
  }
}